<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"><head id="html_head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/cbgapi.loaded_0" async=""></script><script src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/215822182133383.js" async=""></script><script src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/all_002.js" async="" crossorigin="anonymous"></script>
<meta name="x-ua-compatible" content="IE=Edge">
<meta name="verify-v1" content="3D/41gx3n0R0LzuGJQ0fYhtoSKsdxAigZSyWJNLw25o=">
<meta name="description" content="Tagged simplifie et accélère les rencontres à travers les jeux, des intérêts communs, des suggestions de potes, la lecture de profils personnels et bien plus encore.">
<meta name="keywords" content="Rencontrer de nouvelles personnes">
<meta property="og:title" content="Tagged - Le réseau social qui permet de faire de nouvelles rencontres">
<meta property="og:type" content="website">
<meta property="og:image" content="https://x.tagstat.com/im/about/press/tagged_logo.png">
<meta property="og:url" content="https://secure.tagged.com">
<meta property="og:site_name" content="Tagged">
<meta property="og:description" content="Tagged simplifie et accélère les rencontres à travers les jeux, des intérêts communs, des suggestions de potes, la lecture de profils personnels et bien plus encore.">
<link rel="apple-touch-icon" sizes="57x57" href="https://secure.tagged.com/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://secure.tagged.com/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://secure.tagged.com/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://secure.tagged.com/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://secure.tagged.com/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://secure.tagged.com/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://secure.tagged.com/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://secure.tagged.com/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="https://secure.tagged.com/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="https://secure.tagged.com/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="https://secure.tagged.com/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://secure.tagged.com/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://secure.tagged.com/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<link rel="canonical" href="https://secure.tagged.com/">
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="fr">
<link rel="alternate" hreflang="en" href="http://secure.tagged.com/?loc=en_US">
<link rel="alternate" hreflang="ms" href="http://secure.tagged.com/?loc=ms_MY">
<link rel="alternate" hreflang="jv" href="http://secure.tagged.com/?loc=jv_ID">
<link rel="alternate" hreflang="es-co" href="http://secure.tagged.com/?loc=es_CO">
<link rel="alternate" hreflang="es-es" href="http://secure.tagged.com/?loc=es_ES">
<link rel="alternate" hreflang="es-mx" href="http://secure.tagged.com/?loc=es_MX">
<link rel="alternate" hreflang="de" href="http://secure.tagged.com/?loc=de_DE">
<link rel="alternate" hreflang="fr" href="http://secure.tagged.com/?loc=fr_FR">
<link rel="alternate" hreflang="it" href="http://secure.tagged.com/?loc=it_IT">
<link rel="alternate" hreflang="hu" href="http://secure.tagged.com/?loc=hu_HU">
<link rel="alternate" hreflang="nl" href="http://secure.tagged.com/?loc=nl_NL">
<link rel="alternate" hreflang="pt-br" href="http://secure.tagged.com/?loc=pt_BR">
<link rel="alternate" hreflang="pt-pt" href="http://secure.tagged.com/?loc=pt_PT">
<link rel="alternate" hreflang="ru" href="http://secure.tagged.com/?loc=ru_RU">
<link rel="alternate" hreflang="ro" href="http://secure.tagged.com/?loc=ro_RO">
<link rel="alternate" hreflang="tr" href="http://secure.tagged.com/?loc=tr_TR">
<link rel="alternate" hreflang="bn" href="http://secure.tagged.com/?loc=bn_IN">
<link rel="alternate" hreflang="zh-cn" href="http://secure.tagged.com/?loc=zh_CN">
<link rel="alternate" hreflang="zh-tw" href="http://secure.tagged.com/?loc=zh_TW">
<link rel="alternate" hreflang="hi" href="http://secure.tagged.com/?loc=hi_IN">
<link rel="alternate" hreflang="ja" href="http://secure.tagged.com/?loc=ja_JP">
<link rel="alternate" hreflang="mr" href="http://secure.tagged.com/?loc=mr_IN">
<link rel="alternate" hreflang="pa" href="http://secure.tagged.com/?loc=pa_IN">
<link rel="alternate" hreflang="th" href="http://secure.tagged.com/?loc=th_TH">

<title>Tagged - Le réseau social qui permet de faire de nouvelles rencontres</title>

<link href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/css.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/VAy1xpRQt.css">
<script id="facebook-jssdk" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/all.js"></script><script async="" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/fbevents.js"></script><script async="" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/gtm.htm"></script><script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/sf15NX2Uh_cl.js"></script>
<script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/u5KK0SXpI_cl.js"></script>
<link href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/css.css" rel="stylesheet" type="text/css"><style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
.fb_mpn_mobile_landing_page_slide_out{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_out_from_left{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out_from_left;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_up{animation-duration:500ms;animation-name:fb_mpn_landing_page_slide_up;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_in{animation-duration:300ms;animation-name:fb_mpn_bounce_in;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out{animation-duration:300ms;animation-name:fb_mpn_bounce_out;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out_v2{animation-duration:300ms;animation-name:fb_mpn_fade_out;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_v2{animation-duration:300ms;animation-name:fb_bounce_in_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_from_left{animation-duration:300ms;animation-name:fb_bounce_in_from_left;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2{animation-duration:300ms;animation-name:fb_bounce_out_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_from_left{animation-duration:300ms;animation-name:fb_bounce_out_from_left;transition-timing-function:ease-in}.fb_invisible_flow{display:inherit;height:0;overflow-x:hidden;width:0}@keyframes fb_mpn_landing_page_slide_out{0%{margin:0 12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;margin:0 24px;width:60px}}@keyframes fb_mpn_landing_page_slide_out_from_left{0%{left:12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;left:12px;width:60px}}@keyframes fb_mpn_landing_page_slide_up{0%{bottom:0;opacity:0}100%{bottom:24px;opacity:1}}@keyframes fb_mpn_bounce_in{0%{opacity:.5;top:100%}100%{opacity:1;top:0}}@keyframes fb_mpn_fade_out{0%{bottom:30px;opacity:1}100%{bottom:0;opacity:0}}@keyframes fb_mpn_bounce_out{0%{opacity:1;top:0}100%{opacity:.5;top:100%}}@keyframes fb_bounce_in_v2{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}50%{transform:scale(1.03, 1.03);transform-origin:bottom right}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}}@keyframes fb_bounce_in_from_left{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}50%{transform:scale(1.03, 1.03);transform-origin:bottom left}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}}@keyframes fb_bounce_out_v2{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}}@keyframes fb_bounce_out_from_left{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}}@keyframes slideInFromBottom{0%{opacity:.1;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}@keyframes slideInFromBottomDelay{0%{opacity:0;transform:translateY(100%)}97%{opacity:0;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}</style></head>
<body>
    
<script>
    dataLayer = [{
        "uid": ""
    }];
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NFVG9B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NFVG9B');</script>
<!-- End Google Tag Manager -->            <!--
        Start of DoubleClick Floodlight Tag: Please do not remove
        Activity name of this tag: Tagged - Remarketing Pixel Unsecure
        URL of the webpage where the tag is expected to be placed: http://www.tagged.com/
        This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
        Creation Date: 01/22/2014
        -->
        <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<img src="https://ad.doubleclick.net/activity;src=4352332;type=invmedia;cat=vmdouqyg;ord=' + a + '?" width="0" height="0" alt="" style="display:none;"/>');
        </script><img src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/activity.gif" alt="" style="display:none;" width="0" height="0">
        <noscript>
        <img src="https://ad.doubleclick.net/activity;src=4352332;type=invmedia;cat=vmdouqyg;ord=1?" style="display:none;" width="0" height="0" alt="">
        </noscript>

        <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '215822182133383');
        fbq('track', "ViewContent");
    </script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=215822182133383&ev=ViewContent&noscript=1"/></noscript>
<!-- Begin facebook_connect -->
<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
<script>
  tagged.loadData(
    {"fbSDKInitData":{"appId":"123049054388972","status":true,"cookie":true,"xfbml":true},"fbSDKLocale":"en_US","fbScope":"email,user_location,user_birthday,user_friends,user_gender"}  );
</script>

<!-- End facebook_connect -->
<!-- Begin google_connect -->
<script type="text/javascript">
  tagged.loadData({"useGoogleHybridLogin":true,"googleApiScopes":["https:\/\/www.googleapis.com\/auth\/userinfo.profile","https:\/\/www.googleapis.com\/auth\/userinfo.email","https:\/\/www.googleapis.com\/auth\/contacts.readonly"],"googleApiClientID":"1034081759906-a3hhdigo2hcd3pfhqbemlch46biaiuso.apps.googleusercontent.com","googleApppackageName":"com.taggedapp","csrftoken":"e24e9099b66a98c4c0b1f651a0a4168d80659e8bc3b8d5cda9dc6f284b0696737c3f1d9bb7a5f28761b633d7c4b941bdf256654ce175dfde9f8105c4180f5fc9","gplusContinueLoginUrl":"partners\/gplus_hybrid_callback.html"});
</script>

<!-- End google_connect -->

    <div id="body-inner">

    
<div class="header navbar navbar-static-top mbn pa pan">
  <!-- headercontent -->
  <div class="clear_both"><span class="headercontent no-border no-shadow"><span class="nav pull-left pbl ptl"><a href="https://secure.tagged.com/index.html" id="tagged_logo27" class="header_content"><img src="file:///G|/abnpubexpress.website/Image_003.png" width="459" height="134"></a></span></span></div>
</div>
<div class="clear_both"></div>
<!-- header -->

    <div class="background">

        <div class="content" id="content">
                <div class="content_top" id="content_top">
                    <div id="topcontainer" class="row-fluid">
                        <div id="loading" class="hide_me">
                            <img src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/loaderbar_grey.gif">
                        </div>
                                                <div class="content_top_left span6 mtl pr" id="pitchbox">
                            <div class="pitchcontents" id="web_pitch">
                                                                <h1 class="tagline man">
                                 welcome to our sites everyone                            </h1>
                                <h2 class="convince">
                                        Your own website in no time
Online in just 10 minutes. This makes website building child's play.
     </div>
                            <div class="content_bottom_v3">
                                <div class="connect_btns_container logged_out_quote_btns">
                                    <div class="apple_btn_container logged_out_quote_btns">
     <div class="connect">
        <a href="#" id="apple_btn" class="apple apple_login_click dib pr tal clearfix" service_name="apple">
            <span class="ico-wrap">
                <i class="apple"></i>
            </span>
            <span class="btn_text apple_left_btn_text apple">
                Connecte with apple            </span>
        </a>
    </div>
</div>
<script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/appleid.js"></script>

<form action="/register-siwa" method="POST" id="siwa-form">
    <input type="hidden" name="firstName">
    <input type="hidden" name="lastName">
    <input type="hidden" name="email">
    <input type="hidden" name="idtoken">
    <input type="hidden" name="authorizationCode">
</form>

<script type="text/javascript">
    (function() {
        var siwaDetails;
        var INCOMPLETE_REG_ERROR_CODE = 103;

        AppleID.auth.init({
            clientId: "com.tagged.siwa",
            scope: 'name email',
            redirectURI: 'https://secure.tagged.com/register-siwa',
            usePopup: true,
        });

        function signInWithApple() {
            AppleID.auth.signIn().catch(
                function(error) {
                    console.log('Error signing in with Apple', error);
                }
            );
        }

        function siwaOnSuccess(data) {
            siwaDetails = data.detail;
            signInTaggedWithApple(data.detail.authorization);
        }

        function siwaOnFailure(error) { console.log('Error signing in with Apple', error); }

        function parseJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        }

        function signInTaggedWithApple(authData) {
            var parsedToken = parseJwt(authData.id_token);

            var callObj = {
                method: 'tagged.connect.login',
                service: 'apple',
                idtoken: parsedToken.sub,
                authorizationCode: authData.id_token,
                callback: signInTaggedCb,
            };

            TAGGED.api.call(callObj);
        }

        function signInTaggedCb(data) {
            // Check if the user's registration is complete
            if (data.error && data.error.code === INCOMPLETE_REG_ERROR_CODE) {
                // Send received user data to registration form
                var $siwaForm = $('#siwa-form');
                var $siwaFormFields = {
                    firstName: $siwaForm.find('input[name$="firstName"]'),
                    lastName: $siwaForm.find('input[name$="lastName"]'),
                    email: $siwaForm.find('input[name$="email"]'),
                    idtoken: $siwaForm.find('input[name$="idtoken"]'),
                    authorizationCode: $siwaForm.find('input[name$="authorizationCode"]'),
                };

                $siwaFormFields.idtoken.val(siwaDetails.authorization.id_token);
                $siwaFormFields.authorizationCode.val(siwaDetails.authorization.code);

                if (siwaDetails.user) {
                    $siwaFormFields.firstName.val(siwaDetails.user.name.firstName);
                    $siwaFormFields.lastName.val(siwaDetails.user.name.lastName);
                    $siwaFormFields.email.val(siwaDetails.user.email);
                } else if (data.error.data.email) {
                    $siwaFormFields.email.val(data.error.data.email);
                }

                $siwaForm.submit();
            } else if (data.stat === 'fail') {
                console.log('Error signing in with Apple', data);
            } else {
                window.location = "https:\/\/secure.tagged.com\/";
            }
        }

        // Listen for click event
        document.getElementById('apple_btn').addEventListener('click', signInWithApple);

        // Listen for authorization success
        document.addEventListener('AppleIDSignInOnSuccess', siwaOnSuccess);

        // Listen for authorization failures -- As of now, the only error returned is 'popup_closed_by_user'
        document.addEventListener('AppleIDSignInOnFailure', siwaOnFailure);
    }());
</script>
<div class="google_btn_container">
<div class="googleButton googleButtonLightBlue google_login_click">
  <div class="googleButtonContentWrapper">
    <div class="googleButtonIcon">
      <img src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/google_icon.png" width="18" height="18">
    </div>
    <span class="googleButtonContents">
  connect with google </span>
  </div>
</div>
</div>

<div class="fb_btn_container logged_out_quote_btns">
     <div class="connect">
        <a href="#" class="facebook facebook_login_click dib pr tal clearfix" service_name="facebook">
            <span class="ico-wrap">
                <i class="facebook"></i>
            </span>
            <span class="btn_text facebook_left_btn_text facebook">
               connect with facebook        </span>
        </a>
    </div>
</div>
                                </div>
                                <div class="divider_container">
                                    <div class="vertical_line"></div>
                                    <span class="text_above">ou </span>
                                </div>
                                <div class="signup_email_text">
                                    join now with your email                                </div>
                                <div class="arrow_container">
                                    <img src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/arrow.png">
                                </div>
                                <div class="clear_both"></div>
                            </div>
                        </div>
                        <link rel="stylesheet" type="text/css" href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/lkr0rBjgj.css">
<div class="nue_signupbox pull-right man span5 offset1 narrow_box">
    <div class="signupcontents pieme well pal man">
        <div class="join_free">
        <h1 class="man">Join now For FREE !</h1>
        <h2 class="man">&nbsp;
             </h2>
        <div class="border"></div>
        </div>
        <form id="reg_form" name="reg_form" class="form-horizontal mbn" action="https://secure.tagged.com/register.html?src=index_email&amp;page=index&amp;loc=fr_FR" method="post">
                <div id="first_step">
                    <div class="row_v3 control-group">
    <div class="controls">
        <input class="input_v3 id-name" placeholder="name" type="text" name="displayName" id="display_name" size="35" maxlength="35" tabindex="1">
    </div>
    <div class="clear_both"></div>
</div><div class="row_v3 control-group email disabled">
    <div class="controls">
                <input class="input_v3 default" type="email" name="email" placeholder="mail" value="mail" id="email" tabindex="2" title="" data-original-title="Nous t'enverrons un courriel de bienvenue, alors vérifie que tu peux recevoir des courriels à cette adresse&nbsp;!">
    </div>
    <div class="clear_both"></div>
</div><div class="row_v3 control-group">
    <div class="controls id-password-container">
        <input class="input_v3" type="text" name="password" value="Mot de passe" id="password_holder" style="" tabindex="3">
        <input class="input_v3" type="password" name="password" placeholder="passowrd
																			 " value="" id="password" tabindex="4" autocomplete="off" style="display: none;">
        <input id="password_str" type="hidden" name="passwordStr" value="1644127027:DrXon02IB-">
    </div>
    <div class="clear_both"></div>
</div><!--don't show zip code for international user-->
<div id="zipCodeWrapper" class="row_v3 hide_me control-group">
    <div class="controls">
        <input type="text" class="input_v3 default" name="zipCode" id="zipCode" placeholder="Code postal" size="5" maxlength="5" tabindex="5">
    </div>
    <div class="clear_both"></div>
</div><!--show city for international user-->
<div id="cityWrapper" class="row_v3 control-group yui-ac">
    <div class="controls">
        <input tabindex="6" type="text" name="city" class="input_v3 default yui-ac-input" placeholder="city" value="Ville" id="city" autocomplete="off">
        <input type="hidden" name="cityId" id="cityId" value="">
    </div>
    <div id="cities" class="cities controls yui-ac-container"><div class="yui-ac-content" style="display: none;"><div class="yui-ac-hd" style="display: none;"></div><div class="yui-ac-bd"><ul><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li><li style="display: none;"></li></ul></div><div class="yui-ac-ft" style="display: none;"></div></div><iframe src="javascript:false;" scrolling="no" style="position: absolute; width: 0px; height: 0px; padding: 0px;" tabindex="-1" title="Presentational iframe shim" frameborder="0"></iframe></div>
    <div class="clear_both"></div>
</div><div class="row_v3 birthday_row control-group">
    <label class="label_v3 control-label id-birthday-label" for="birth_day">Date de naissance&nbsp;:</label>
    <div class="col_container controls id-birthday-controls">
        <!--day input-->
<select tabindex="7" name="birthDay" id="birth_day" class="date">
    <option value="0" id="day_option" selected="selected">day</option>
            <option value="1">
            1        </option>
            <option value="2">
            2        </option>
            <option value="3">
            3        </option>
            <option value="4">
            4        </option>
            <option value="5">
            5        </option>
            <option value="6">
            6        </option>
            <option value="7">
            7        </option>
            <option value="8">
            8        </option>
            <option value="9">
            9        </option>
            <option value="10">
            10        </option>
            <option value="11">
            11        </option>
            <option value="12">
            12        </option>
            <option value="13">
            13        </option>
            <option value="14">
            14        </option>
            <option value="15">
            15        </option>
            <option value="16">
            16        </option>
            <option value="17">
            17        </option>
            <option value="18">
            18        </option>
            <option value="19">
            19        </option>
            <option value="20">
            20        </option>
            <option value="21">
            21        </option>
            <option value="22">
            22        </option>
            <option value="23">
            23        </option>
            <option value="24">
            24        </option>
            <option value="25">
            25        </option>
            <option value="26">
            26        </option>
            <option value="27">
            27        </option>
            <option value="28">
            28        </option>
            <option value="29">
            29        </option>
            <option value="30">
            30        </option>
            <option value="31">
            31        </option>
    </select><!--month input-->
<select tabindex="8" name="birthMonth" id="birth_month" class="date">
    <option value="0" id="month_option" selected="selected">month</option>
            <option id="birth_month1" value="1">
            Janvier        </option>
            <option id="birth_month2" value="2">
            Février        </option>
            <option id="birth_month3" value="3">
            Mars        </option>
            <option id="birth_month4" value="4">
            Avril        </option>
            <option id="birth_month5" value="5">
            Mai        </option>
            <option id="birth_month6" value="6">
            Juin        </option>
            <option id="birth_month7" value="7">
            Juillet        </option>
            <option id="birth_month8" value="8">
            Août        </option>
            <option id="birth_month9" value="9">
            Septembre        </option>
            <option id="birth_month10" value="10">
            Octobre        </option>
            <option id="birth_month11" value="11">
            Novembre        </option>
            <option id="birth_month12" value="12">
            Décembre        </option>
    </select><!-- year input -->
<select tabindex="9" name="birthYear" id="birth_year" class="date">
    <option value="0" id="year_option" selected="selected">year</option>
            <option value="2009">
            2009        </option>
            <option value="2008">
            2008        </option>
            <option value="2007">
            2007        </option>
            <option value="2006">
            2006        </option>
            <option value="2005">
            2005        </option>
            <option value="2004">
            2004        </option>
            <option value="2003">
            2003        </option>
            <option value="2002">
            2002        </option>
            <option value="2001">
            2001        </option>
            <option value="2000">
            2000        </option>
            <option value="1999">
            1999        </option>
            <option value="1998">
            1998        </option>
            <option value="1997">
            1997        </option>
            <option value="1996">
            1996        </option>
            <option value="1995">
            1995        </option>
            <option value="1994">
            1994        </option>
            <option value="1993">
            1993        </option>
            <option value="1992">
            1992        </option>
            <option value="1991">
            1991        </option>
            <option value="1990">
            1990        </option>
            <option value="1989">
            1989        </option>
            <option value="1988">
            1988        </option>
            <option value="1987">
            1987        </option>
            <option value="1986">
            1986        </option>
            <option value="1985">
            1985        </option>
            <option value="1984">
            1984        </option>
            <option value="1983">
            1983        </option>
            <option value="1982">
            1982        </option>
            <option value="1981">
            1981        </option>
            <option value="1980">
            1980        </option>
            <option value="1979">
            1979        </option>
            <option value="1978">
            1978        </option>
            <option value="1977">
            1977        </option>
            <option value="1976">
            1976        </option>
            <option value="1975">
            1975        </option>
            <option value="1974">
            1974        </option>
            <option value="1973">
            1973        </option>
            <option value="1972">
            1972        </option>
            <option value="1971">
            1971        </option>
            <option value="1970">
            1970        </option>
            <option value="1969">
            1969        </option>
            <option value="1968">
            1968        </option>
            <option value="1967">
            1967        </option>
            <option value="1966">
            1966        </option>
            <option value="1965">
            1965        </option>
            <option value="1964">
            1964        </option>
            <option value="1963">
            1963        </option>
            <option value="1962">
            1962        </option>
            <option value="1961">
            1961        </option>
            <option value="1960">
            1960        </option>
            <option value="1959">
            1959        </option>
            <option value="1958">
            1958        </option>
            <option value="1957">
            1957        </option>
            <option value="1956">
            1956        </option>
            <option value="1955">
            1955        </option>
            <option value="1954">
            1954        </option>
            <option value="1953">
            1953        </option>
            <option value="1952">
            1952        </option>
            <option value="1951">
            1951        </option>
            <option value="1950">
            1950        </option>
            <option value="1949">
            1949        </option>
            <option value="1948">
            1948        </option>
            <option value="1947">
            1947        </option>
            <option value="1946">
            1946        </option>
            <option value="1945">
            1945        </option>
            <option value="1944">
            1944        </option>
            <option value="1943">
            1943        </option>
            <option value="1942">
            1942        </option>
            <option value="1941">
            1941        </option>
            <option value="1940">
            1940        </option>
            <option value="1939">
            1939        </option>
            <option value="1938">
            1938        </option>
            <option value="1937">
            1937        </option>
            <option value="1936">
            1936        </option>
            <option value="1935">
            1935        </option>
            <option value="1934">
            1934        </option>
            <option value="1933">
            1933        </option>
            <option value="1932">
            1932        </option>
            <option value="1931">
            1931        </option>
            <option value="1930">
            1930        </option>
            <option value="1929">
            1929        </option>
            <option value="1928">
            1928        </option>
            <option value="1927">
            1927        </option>
            <option value="1926">
            1926        </option>
            <option value="1925">
            1925        </option>
            <option value="1924">
            1924        </option>
            <option value="1923">
            1923        </option>
            <option value="1922">
            1922        </option>
            <option value="1921">
            1921        </option>
            <option value="1920">
            1920        </option>
            <option value="1919">
            1919        </option>
            <option value="1918">
            1918        </option>
            <option value="1917">
            1917        </option>
            <option value="1916">
            1916        </option>
            <option value="1915">
            1915        </option>
            <option value="1914">
            1914        </option>
            <option value="1913">
            1913        </option>
            <option value="1912">
            1912        </option>
            <option value="1911">
            1911        </option>
            <option value="1910">
            1910        </option>
            <option value="1909">
            1909        </option>
            <option value="1908">
            1908        </option>
            <option value="1907">
            1907        </option>
            <option value="1906">
            1906        </option>
            <option value="1905">
            1905        </option>
            <option value="1904">
            1904        </option>
    </select>    </div>
    <div class="clear_both"></div>
</div><div class="row_v3 gender_row control-group">
    <div class="col_container controls inline">
        <label class="radio inline ptn" for="male">
            <input type="radio" class="radio pln mtn" name="gender" id="male" value="M" tabindex="10">
            <span class="sex_label">Homme</span>
        </label>
        <label class="radio inline ptn">
            <input type="radio" class="radio mtn" name="gender" id="female" value="F" tabindex="11">
            <span class="sex_label">Femme</span>
        </label>
    </div>
    <div class="clear_both"></div>
</div>                    <div class="signup_error row_v3 control-label" style="display: none;"></div>
                    <div class="tos_v3 controls">
                        <input tabindex="12" type="checkbox" class="hide_me" name="termsOfService" id="termsOfService" checked="checked">
                        <span>En cliquant sur «&nbsp;Inscription&nbsp;», tu indiques que tu as lu et que tu acceptes les <a id="termsOfUseLinkLabel" href="https://secure.tagged.com/terms_of_service.html?reg=1" target="_blank">Conditions de service</a> et la <a href="https://secure.tagged.com/terms_of_service.html#privacy_policy" target="_blank">Politique de confidentialité</a>.</span>
                        <div class="clear_both"></div>
                    </div>
                    <div class="row_v3 control-group signup_btn mbn">
                        <div class="signup_buttons controls">
                            <input id="signup_button" class="btn btn-large btn-pets-green btn-pets-responsive" type="button" value="Inscription" tabindex="13">
                        </div>
                    </div>
                </div>
                                <div id="second_step" class="step hide_me">
                                            <div class="tos_v3 control-group">
                            <div class="controls">
                                <input tabindex="14" type="checkbox" class="hide_me" name="termsOfService" id="termsOfService" checked="checked">
                            </div>
                            <span class="control-label">En cliquant sur «&nbsp;Inscription&nbsp;», tu indiques que tu as lu et que tu acceptes les <a id="termsOfUseLinkLabel" href="https://secure.tagged.com/terms_of_service.html?reg=1" target="_blank">Conditions de service</a> et la <a href="https://secure.tagged.com/terms_of_service.html#privacy_policy" target="_blank">Politique de confidentialité</a>.</span>
                            <div class="clear_both"></div>
                        </div>
                                        <div class="signup_error_tos row_v3 control-group" style="display: none;"></div>
                    <div class="row_v3 register_btn">
                        <div class="signup_buttons">
                            <input type="submit" class="btn btn-large btn-success" id="register_button" value="Inscris-toi" tabindex="15">
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
                        <div class="clear_both"><span class="headercontent no-border no-shadow"><span class="nav pull-left pbl ptl"><a href="https://secure.tagged.com/index.html" id="tagged_logo26" class="header_content"></a></span></span></div>
                  </div>
                </div>
        </div>

    </div>
    </div>

    <div style="clear:both"></div>

    
  <script type="text/javascript">
      tagged.loadData({"lang":{"modal_title":"Choose your language","user_lang":"Fran\u00e7ais","user_lang_code":"fr_FR","languages":[{"name":"English","locale":"en_US","flag":"https:\/\/x.tagstat.com\/im\/flags\/US.png"},{"name":"Bahasa Melayu","locale":"ms_MY","flag":"https:\/\/x.tagstat.com\/im\/flags\/MY.png"},{"name":"Basa Jawa","locale":"jv_ID","flag":"https:\/\/x.tagstat.com\/im\/flags\/ID.png"},{"name":"Espa\u00f1ol - Am\u00e9rica Latina","locale":"es_CO","flag":"https:\/\/x.tagstat.com\/im\/flags\/CO.png"},{"name":"Espa\u00f1ol - Espa\u00f1a","locale":"es_ES","flag":"https:\/\/x.tagstat.com\/im\/flags\/ES.png"},{"name":"Espa\u00f1ol - M\u00e9xico","locale":"es_MX","flag":"https:\/\/x.tagstat.com\/im\/flags\/MX.png"},{"name":"Deutsch","locale":"de_DE","flag":"https:\/\/x.tagstat.com\/im\/flags\/DE.png"},{"name":"Fran\u00e7ais","locale":"fr_FR","flag":"https:\/\/x.tagstat.com\/im\/flags\/FR.png"},{"name":"Italiano","locale":"it_IT","flag":"https:\/\/x.tagstat.com\/im\/flags\/IT.png"},{"name":"Magyar","locale":"hu_HU","flag":"https:\/\/x.tagstat.com\/im\/flags\/HU.png"},{"name":"Nederlands","locale":"nl_NL","flag":"https:\/\/x.tagstat.com\/im\/flags\/NL.png"},{"name":"Portugu\u00eas - Brasil","locale":"pt_BR","flag":"https:\/\/x.tagstat.com\/im\/flags\/BR.png"},{"name":"Portugu\u00eas","locale":"pt_PT","flag":"https:\/\/x.tagstat.com\/im\/flags\/PT.png"},{"name":"\u0420\u0443\u0441\u0441\u043a\u0438\u0439","locale":"ru_RU","flag":"https:\/\/x.tagstat.com\/im\/flags\/RU.png"},{"name":"Rom\u00e2n\u0103","locale":"ro_RO","flag":"https:\/\/x.tagstat.com\/im\/flags\/RO.png"},{"name":"T\u00fcrk\u00e7e","locale":"tr_TR","flag":"https:\/\/x.tagstat.com\/im\/flags\/TR.png"},{"name":"\u09ac\u09be\u0982\u09b2\u09be","locale":"bn_IN","flag":"https:\/\/x.tagstat.com\/im\/flags\/IN.png"},{"name":"\u4e2d\u6587 (\u7b80\u4f53)","locale":"zh_CN","flag":"https:\/\/x.tagstat.com\/im\/flags\/CN.png"},{"name":"\u4e2d\u6587 (\u7e41\u8ec6)","locale":"zh_TW","flag":"https:\/\/x.tagstat.com\/im\/flags\/TW.png"},{"name":"\u0939\u093f\u0928\u094d\u0926\u0940","locale":"hi_IN","flag":"https:\/\/x.tagstat.com\/im\/flags\/IN.png"},{"name":"\u65e5\u672c\u8a9e","locale":"ja_JP","flag":"https:\/\/x.tagstat.com\/im\/flags\/JP.png"},{"name":"\u092e\u0930\u093e\u0920\u0940","locale":"mr_IN","flag":"https:\/\/x.tagstat.com\/im\/flags\/IN.png"},{"name":"\u0a2a\u0a70\u0a1c\u0a3e\u0a2c\u0a40","locale":"pa_IN","flag":"https:\/\/x.tagstat.com\/im\/flags\/IN.png"},{"name":"\u0e44\u0e17\u0e22","locale":"th_TH","flag":"https:\/\/x.tagstat.com\/im\/flags\/TH.png"}]}});
  </script>
<script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/9MM8BfPd3_cl.js"></script>
<script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/4k-PQMUbv_cl.js"></script>
<link rel="stylesheet" type="text/css" href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/OZdSMA8xJ.css">
<link rel="stylesheet" type="text/css" href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/DSM1P_Rp6.css">
<div class="thefooter index">
  <div class="footer_content">
    <span class="footer_copyright">
      © 2022 Ifwe Inc.    </span>
    <span class="footer_nav">
              <a href="https://secure.tagged.com/tagged_mobile.html">Mobile</a>
            <a href="http://ifwe.co/">Entreprise</a>
      <a href="http://ifwe.co/jobs">Emplois</a>
            <a href="https://secure.tagged.com/terms_of_service.html?#privacy_policy">Confidentialité</a>
      <a href="https://secure.tagged.com/terms_of_service.html">Termes</a>
      <a href="https://secure.tagged.com/safety_practices.html" target="_blank">Safety</a>
      <a href="https://secure.tagged.com/support.html">Soutien</a>
                </span>
    <span class="lang">
      <a href="#" id="language_dropup">
        <span class="language_name">Français</span>
        <span class="dropup_triangle"></span>
      </a>
    </span>
    <div class="language_menu" id="language_menu">
                      <div class="menu_item " id="en_US">
                  English                </div>
                      <div class="menu_item " id="ms_MY">
                  Bahasa Melayu                </div>
                      <div class="menu_item " id="jv_ID">
                  Basa Jawa                </div>
                      <div class="menu_item " id="es_CO">
                  Español - América Latina                </div>
                      <div class="menu_item " id="es_ES">
                  Español - España                </div>
                      <div class="menu_item " id="es_MX">
                  Español - México                </div>
                      <div class="menu_item " id="de_DE">
                  Deutsch                </div>
                      <div class="menu_item selection" id="fr_FR">
                  Français                </div>
                      <div class="menu_item " id="it_IT">
                  Italiano                </div>
                      <div class="menu_item " id="hu_HU">
                  Magyar                </div>
                      <div class="menu_item " id="nl_NL">
                  Nederlands                </div>
                      <div class="menu_item " id="pt_BR">
                  Português - Brasil                </div>
                      <div class="menu_item " id="pt_PT">
                  Português                </div>
                      <div class="menu_item " id="ru_RU">
                  Русский                </div>
                      <div class="menu_item " id="ro_RO">
                  Română                </div>
                      <div class="menu_item " id="tr_TR">
                  Türkçe                </div>
                      <div class="menu_item " id="bn_IN">
                  বাংলা                </div>
                      <div class="menu_item " id="zh_CN">
                  中文 (简体)                </div>
                      <div class="menu_item " id="zh_TW">
                  中文 (繁軆)                </div>
                      <div class="menu_item " id="hi_IN">
                  हिन्दी                </div>
                      <div class="menu_item " id="ja_JP">
                  日本語                </div>
                      <div class="menu_item " id="mr_IN">
                  मराठी                </div>
                      <div class="menu_item " id="pa_IN">
                  ਪੰਜਾਬੀ                </div>
                      <div class="menu_item " id="th_TH">
                  ไทย                </div>
          </div>
  </div>
</div>
    <style>
        .thefooter {
            position: relative !important;
            top: 100px;
            clear:both;
        }
    </style>
    <script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/k9Q8pOPLu_cl.js"></script>
<script type="text/javascript" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/RuIxzhNuV_cl.js"></script>
<link rel="stylesheet" type="text/css" href="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/Ab2poA6Dt.css">
    <script type="text/javascript">
      if(typeof(tagged) == "undefined"){
          tagged = {};
      }
      tagged.base_url = "https://www.tagged.com";
      tagged.static_uri = "https://x.tagstat.com";
      tagged.profile_path = "/profile.html";
      tagged.guid = "yU1BNbdc7Z";
      tagged.secure_url = "https://secure.tagged.com";
            TAGGED.currentUserStatus = tagged.currentUserStatus = null;
      
      $(function() {
          if ('localStorage' in window && window['localStorage'] !== null) {
              var iframe = $('#login_frame')[0];
              var res = {tprefs1: localStorage.getItem('tprefs1') };
              iframe.contentWindow.postMessage(JSON.stringify(res), tagged.secure_url);
          }
      });

      tagged.loadData({"redirect_url":null,"isLogout":false,"fbRedirect":false,"locale":"fr_FR","user_cc":"DZ","new_email_signup":true,"register_url":"https:\/\/secure.tagged.com\/register.html","isFacebookAppUser":false,"googleAuthUrl":"https:\/\/accounts.google.com\/o\/oauth2\/auth?response_type=code&access_type=online&client_id=1034081759906-a3hhdigo2hcd3pfhqbemlch46biaiuso.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fsecure.tagged.com%2Fpartners%2Fgplus_callback.html&state&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts.readonly&approval_prompt=auto","form_key":"1644127027:DrXon02IB-","storageSwfUrl":"https:\/\/x.tagstat.com\/swf\/storage.swf","forceAcceptOrDeclineTOS":false});
    </script>
    

<script type="text/javascript" async="" src="file:///G|/abnpubexpress.website/Tagged - Le réseau social qui permet de faire de nouvelles rencontres_fichiers/clientplusone.js" gapi_processed="true"></script></body></html>